<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" type="text/css">
	<link rel="stylesheet" href="{{ static('css/font-awesome.min.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/hero-slider-style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/tooplate-style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" type="image/x-icon">
</head>

<body>

        <div class="cd-hero">
            <div class="cd-slider-nav">
                <nav class="navbar navbar-fixed-top">
                    <div class="tm-navbar-bg">



{% block header %}{% endblock %}
                    </div>
                </nav>
            </div>
        </div>
        {% block main %}
{% endblock %}

</body>
</html>