{% extends "base.html" %}



{% block title %}Weather page {% endblock %}

{% block header %}{% endblock %}
{% block main %}
<br><br>
<br><br>

    <article>
        <br><br>
          <h1 align="center">Weather {{w[0]}}</h1>
<br><br>
<br><br>
<br><br>
        <big> <p align="center">
           Weather in {{w[0]}} {{w[3]}}: {{w[1]}} C in {{w[2]}} </p>
            <br><br>
            <p>Other weather in {{w[0]}}:</p>
            {% for p in object_list %}
            {% if p.city==w[0] %}
              <p> {{p.we}} C in {{p.data.strftime("%d-%m-%Y %H:%M")}}</p>{% endif %}
            {% endfor %}
      </big>
        <br><br>
        <a href="{{ url('index:f') }}">
            <button class="button" type="submit">Choice other city</button></a>
    </article>
<br><br>
<br><br>
<br><br>
<br><br>
{% endblock %}